.audio_box {
  width: 750rpx;
  height: 60rpx;
  display: flex;
  box-sizing: border-box;
  position: fixed;
  align-items: center;
  padding: 0 40rpx;
  background-color: #fff;
}
.audio_box .title {
  font-size: 26rpx;
  margin-left: 40rpx;
  width: 500rpx;
}
.audio_box .img {
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
}
.audio_box .play {
  margin-left: 60rpx;
}
