@import "font-awesome/css/font-awesome.min.css";
.flex_align_center {
  display: flex;
  align-items: center;
}
.songOverFlow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
